/* color palette from <https://github.com/vuejs/theme> */
@import url('../assets/styles/fonts.css');


/* ---------- DARK ROOT ---------- */
:root {

  --color-backgroundDark: rgb(0, 0, 0);;
  --colorMainDark: white;
  --outlineContentDark: 2px solid #7ee8cc;

  --color-backgroundHeaderDark: #000000d4;

  --color-titleMusic-statsDark: #fc0;

  --color-backgroundChatDark:  #0f0f0f;
  --color-backgroundChatHoverDark: #0d0d0d;

  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  
  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;

  
  /*4px solid #34f2ff;*/
  
}

/* ---------- LIGHT ROOT ---------- */
:root {

  --color-backgroundLight: rgba(232, 129, 143, 0.96);
  --color-transparentLight: #90249d82;
  --colorMainLight: rgb(0, 0, 0);

  --outlineContentLight: 2px solid rgb(89, 1, 50);
  
  --color-backgroundHeaderLight: rgba(253, 156, 170, 0.53);

  --color-titleMusic-statsLight: #4507ff;

  --color-backgroundChatLight:  #ff7aae;
  --color-backgroundChatHoverLight: #fd88b6;

  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;

  /*4px solid #34f2ff;*/
  
}

@keyframes borderAnimated {
  
}

[theme="dark"] {
    --color-backgroundMain: var(--color-backgroundDark);
    --color-colorMain: var(--colorMainDark);
    --outlineContent: var(--outlineContentDark);

    --color-backgroundHeader: var(--color-backgroundHeaderDark);

    --color-titleMusic-stats: var(--color-titleMusic-statsDark);

    --color-backgroundChat:  var(--color-backgroundChatDark);
    --color-backgroundChatHover: var(--color-backgroundChatHoverDark);
    
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
}

[theme="light"] {
    --color-backgroundMain: var(--color-backgroundLight);
    --color-colorMain: var(--colorMainLight);
    --outlineContent: var(--outlineContentLight);

    --color-backgroundHeader: var(--color-backgroundHeaderLight);

    --color-titleMusic-stats: var(--color-titleMusic-statsLight);

    --color-backgroundChat:  var(--color-backgroundChatLight);
    --color-backgroundChatHover: var(--color-backgroundChatHoverLight);

    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  scrollbar-color: rgb(45, 45, 45) rgb(100, 100, 100);
  scrollbar-width: thin;
  overscroll-behavior: contain;
}
*{      
  -webkit-tap-highlight-color: transparent;
}

html, body {
  cursor: url('https://files.catbox.moe/h0vf27.png'), pointer;
  min-height: 100vh;
  color: var(--color-text);
  transition: color 0.5s;
  line-height: 1.6;
  font-family:
    Pixel Operator,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
