@import './base.css';

#app {
  text-align: center;
  max-width: 1200px;
  max-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 13px;
  color: white;
}
h1, h2, h3, h4, h5, h6{
  font-family: Pixel Titles;
}

.mainContent, .imgInsideGirl, aside {
  background-color: var(--color-backgroundMain);
  color: var(--color-colorMain);
  outline: var(--outlineContent);
  border-radius: 10px;
}

/* ------------ CHAT ------------ */

